body{
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  background: #222;
}
.appcontainer{
    color: aliceblue;
    border: 2px solid;
  border-image-source: linear-gradient(to right, red, purple);
  border-image-slice: 1;
  padding: 13px;
  max-height: fit-content;
}